sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: IY/zme11rbijiapmcJV4sN1N+jGBNNmcigIqKi/9XLJogQxb7eTiwajfEddl38UQn7sHie5LtGjQt6YnUKZcZXonsBrSdI2q+eKiCdo2Re+V/oT1PSnoWHHgaCWyvobbHIFSxXC7XyiiNex4WAOJiQRVkWBBiFVYIaxpIGtYWWCoPJd4GxU7rE8krNaDpu60psTGT9DsDMwiCMisC28NQF4KmsepRyHTPVV329gYxTTTx97b4fXInQzeVgdlripzYQCsfruOCLmrgmGeftDYH3y6Luy/c8VvYUD3OyJt5Qvf9vpL0eUxnY/kJNd9Y6fGlrwBT5pds2iD7GriQqQHWVguRRrAfHf82sUJdseFvHP/Gg/djlMs5UxLsiWCbCabRLQRPX/oKD+niTgqMYoX7exQJEUaKoQIVcFs9/UbjSdxeh/hG4nbPd62GtyUOyiCXh2vtha5yLuPu1uM2dVKO7nRnK48mKW/9EuMKHrophqurS0X19mZAX4LyKOOvAS+aCfnpBDtqktXBQP3CIiyxib09zWhx5+Hc3T4JP+hzwwQYTbagGHKvEcWXCz1BpVOE33mZyjT4pZqJYFW9VUqR3Gtg8h3mZ0yzEurL4QPSHlt7BRKe8nL0pQEems5xjackxBhc8qAL6/OqsUacN3LzGh1Ntly0/wTo52QpKZIZos=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Moby-Thesaurus-List_3202
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy